@import "./theme.css";

@source "./";

.scraper-link {
  color: var(--primary);
  text-decoration: none;
}

.scraper-link:hover {
  text-decoration: underline;
}

@layer base {
  body {
    margin: 0;
  }
}
