# Development only
SHADCNBLOCKS_API_KEY=""

AI_VIDEO_R2_ACCOUNT_ID=""
AI_VIDEO_R2_ACCESS_KEY_ID=""
AI_VIDEO_R2_SECRET_ACCESS_KEY=""
AI_VIDEO_R2_BUCKET_NAME="ai-video-media"
AI_VIDEO_R2_PUBLIC_URL=""
AI_VIDEO_GEMINI_API_KEY=""
AI_VIDEO_ELEVENLABS_API_KEY=""
